mixin bar()
  .alert.alert-danger#NotSupportedBrouserAlert(style="display: none;")
    | Your browser is not supported. please use Internet Explorer 10 or 11, Google Chrome or Firefox.
  .navbar.navbar-default
    .navbar-header
      a.navbar-brand AspenU
    .navbar-collapse
      block
