include include/mixin
include include/bar
doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="initial-scale=1.0,width=device-width,user-scalable=no")
    title Aspen
    +css('css/bootstrap.min.css')
    +css('css/index.css')
  body(style="padding: 30px;")
    .container(style="width: 960px;")
      +bar()
      p
    // Include all compiled plugins (below), or include individual files as needed
    +js('js/jquery.min.js')
    +js('js/jquery.tmpl.min.js')
    +js('js/bootstrap.min.js')
    +js('js/FileSaver.js')
    +js('ace/ace.js')
    // JavaScript plugins (requires jQuery)
    +js('js/index.js')
